@charset "UTF-8";

@import url(https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap);



:root {
    
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0C0B1A;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

#logo img {
    display: block;
    height: 140px;
    margin: 0 auto 30px;
}


header  {
    background-color: black;
    position: relative;
    width: 100%;
}

.menu-toggle {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 15px;
}

.nav-list {
    display: flex;
    list-style: none;
    color: white;
    background-color: #5c5c5c;
    gap: 20px;
    justify-content: center;
}

ul.nav-list {
    margin-bottom: 30px ;
}

.nav-list a {
    display: block;
    text-decoration: none;
    color: white;
    padding:  15px;
}

.nav-list a:hover {
    text-decoration: underline;
    font-weight: bolder;
}

.welcome {
    display: flex;
    align-items: center; /* alinha verticalmente */
    color: white;
}

/* TEXTO */
.welcome > p {
    flex: 1; /* 50% */
    line-height: 2em;
    font-size: clamp(1rem, 1.2vw, 1.2rem);
    padding: 30px;
    margin: 15px;
    border: 1px solid #5c5c5c;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.473);
}

/* IMAGEM */
.welcome-img {
    flex: 1; /* outros 50% */
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-img img {
    max-width: 100%;
    height: auto;
    display: block;
}




@media (max-width: 600px) {

    .menu-toggle {
        display: block;
        margin: auto;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #5c5c5c;
        width: 100%;
    }

    .nav-list.active {
        display: flex;
    }

    .welcome {
        flex-direction: column;
        align-items: center;
    }

    .welcome > p,
    .welcome > .welcome-img {
        width: 100%;
        font-size: 1rem;
    }
}




