@charset "UTF-8";

@import url(https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap);



:root {
    
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0C0B1A;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

div#logo , img {
    display: flex;
    justify-content: center;
    height: 140px;
    padding-bottom: 30px;
}

header  {
    background-color: black;
    position: relative;
    width: 100%;
}

.menu-toggle {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 15px;
}

.nav-list {
    display: flex;
    list-style: none;
    color: white;
    background-color: #5c5c5c;
    gap: 20px;
    justify-content: center;
}

ul.nav-list {
    margin-bottom: 30px ;
}

.nav-list a {
    display: block;
    text-decoration: none;
    color: white;
    padding:  15px;
}

.nav-list a:hover {
    text-decoration: underline;
    font-weight: bolder;
}

.welcome {
    display: flex;
    color: white;
}

.welcome > p {
    display: inline;
    width: 50%;
    line-height: 2em;
    font-size: 1.2vw;
    padding: 30px;
    margin: 15px;
    border: 1px solid #5c5c5c;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.473);
}

.welcome > .welcome-img {
    width: 50%;
    margin: auto;
    justify-items: center;
}

@media (max-width: 768px) {
    .nav-list {
        flex-direction: column;
        align-items: center;
    }
    .welcome {
        flex-direction: column;
        align-items: center;
    }

    .menu-toggle {
        display: block;
        margin: auto;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #5c5c5c;
        width: 100%;
    }

    .nav-list.active {
        display: flex;
    }

    .welcome {
        flex-direction: column;
        align-items: center;
    }

    .welcome > p,
    .welcome > .welcome-img {
        width: 100%;
    }
}



