@charset "UTF-8";

/* RESET GLOBAL */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BASE */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0C0B1A;
    color: white;
}

/* HEADER */
header {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow:  0px 15px 20px rgba(0, 0, 0, 0.5);
}

#logo img {
    display: block;
    height: 140px;
    margin: 20px auto;
}

.social {
    display: flex;
  margin-top: 1rem;
  justify-content: center;
}

.social a {
  color: white;
  margin: 0 10px;
  font-size: 1.3rem;
  transition: color 0.3s ease;
}

.social a:hover {
  color: #fff;
}

/* MENU */
.menu-toggle {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 15px;
}

.nav-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    background-color: #353535;
    margin-bottom: 30px;

    overflow: hidden;
    transition: max-height 0.3s ease;
}

.nav-list a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
}

.nav-list a:hover {
    text-decoration: underline;
    font-weight: bold;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: clamp(1.5rem, 2vw, 2.5rem);
}

.section > h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: clamp(1.2rem, 1.5vw, 2rem);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
    padding-bottom: 30px;
}

/* SEÇÃO SECTION */
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


.section-content {
    display: flex;
    flex: 1;
    gap: 80px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.section-content > p {
    line-height: 2em;
    font-size: clamp(1rem, 1.2vw, 1.2rem);
    padding: 30px;
    margin: 15px;
    text-align: justify
   
}

.section-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-content > p,
.section-img {
    flex: 1 1 300px;
}


.section-img img {
    max-width: 100%;
    height: auto;
}

/* RESPONSIVO */
@media (max-width: 600px) {

    .menu-toggle {
        display: block;
        margin: auto;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        max-height: 0;
    }

    .nav-list.active {
        max-height: 300px;
    }

    .section {
        flex-direction: column;
    }

    .section > p,
    .section-img {
        width: 80%;
    }
}
