@charset "UTF-8";

@import url(https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap);



:root {
    
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0C0B1A;
}

div#logo , img {
    display: flex;
    justify-content: center;
    height: 140px;
    
}

header  {
    background-color: black;
}
.nav-list {
    display: flex;
    list-style: none;
    color: white;
    background-color: #5c5c5c;
    gap: 20px;
    justify-content: center;
}

.nav-list a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: block;
}

.nav-list a:hover {
    text-decoration: underline;
    font-weight: bolder;
}

.welcome {
    display: flex;
    color: white;
}

.welcome > p {
    display: inline;
    width: 50%;
}

.welcome > .welcome-img {
    width: 50%;
    margin: auto;
    justify-items: center;
}

@media (max-width: 768px) {
    .nav-list {
        flex-direction: column;
        align-items: center;
    }
}

