@charset "UTF-8";

/* RESET GLOBAL */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BASE */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0C0B1A;
    color: white;
}

/* HEADER */
header {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow:  0px 15px 20px rgba(0, 0, 0, 0.5);
}

#logo img {
    display: block;
    height: 140px;
    margin: 20px auto;
}

/* MENU */
.menu-toggle {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 15px;
}

.nav-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    background-color: #5c5c5c;
    margin-bottom: 30px;

    overflow: hidden;
    transition: max-height 0.3s ease;
}

.nav-list a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
}

.nav-list a:hover {
    text-decoration: underline;
    font-weight: bold;
}

/* SEÇÃO WELCOME */
.welcome {
    display: flex;
    align-items: center;
    padding: 20px;
}

.welcome > p {
    flex: 1;
    line-height: 2em;
    font-size: clamp(1rem, 1.2vw, 1.2rem);
    padding: 30px;
    margin: 15px;
    border: 1px solid #5c5c5c;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
}

.welcome-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-img img {
    max-width: 100%;
    height: auto;
}

/* RESPONSIVO */
@media (max-width: 600px) {

    .menu-toggle {
        display: block;
        margin: auto;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        max-height: 0;
    }

    .nav-list.active {
        max-height: 300px;
    }

    .welcome {
        flex-direction: column;
    }

    .welcome > p,
    .welcome-img {
        width: 80%;
    }
}
